/**
 * L.Rosselli
 * lisarosselli@g.harvard.edu
 */

html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'Roboto';
}

#map-canvas {
	height: 100%;
	background: gray;
	z-index: 100;
}

/* Intro screen specs */
@-webkit-keyframes introFade {
	100% {
		opacity: 0;
		visibility: hidden;
	}
}

@-moz-keyframes introFade {
	100% {
		opacity: 0;
		visibility: hidden;
	}
}

@-o-keyframes introFade {
	100% {
		opacity: 0;
		visibility: hidden;
	}
}

@keyframes introFade {
	100% {
		opacity: 0;
		visibility: hidden;
	}
}

#intro {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #3300DD;

	-webkit-animation: introFade 0.3s linear 2s;
	-moz-animation: introFade 0.3s linear 2s;
	-o-animation: introFade 0.3s linear 2s;
	animation: introFade 0.3s linear 2s;

	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

@-webkit-keyframes imgMoveUp
{
	100% {
		-webkit-transform: translate(0px, -25px);
	}
}

@keyframes imgMoveUp
{
	100% {
		transform: translate(0px, -25px);
	}
}

#intro img
{
	left: 48%;
	top: 45%;
	position: absolute;
	width: 32px;
	height: 32px;

	-webkit-animation: imgMoveUp 0.2s ease-in-out 1s;
	-moz-animation: imgMoveUp 0.2s ease-in-out 1s;
	-o-animation: imgMoveUp 0.2s ease-in-out 1s;
	animation: imgMoveUp 0.2s ease-in-out 1s;

	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

@-webkit-keyframes smilieFade
{
	100% {
		opacity: 1;
	}
}

@-moz-keyframes smilieFade
{
	100% {
		opacity: 1;
	}
}

@-o-keyframes smilieFade
{
	100% {
		opacity: 1;
	}
}

@keyframes smilieFade
{
	100% {
		opacity: 1;
	}
}

#smilie
{
	left: 44%;
	top: 44%;
	position: absolute;
	width: 132px;
	height: 32px;
	font-size: 20px;
	color: white;
	text-align: center;
	opacity: 0;
	line-height: 17px;

	-webkit-animation: smilieFade 0.3s linear 1.3s;
	-moz-animation: smilieFade 0.3s linear 1.3s;
	-o-animation: smilieFade 0.3s linear 1.3s;
	animation: smilieFade 0.3s linear 1.3s;

	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

#smilie .footnote {
	color: white;
	font-size: small;
	line-height: 0.2em;
}
/* end Intro screen */

.harvardH
{
	width: 17%;
	height: 17%;
	padding-right: 10px;
}
.ontop_visible
{
	z-index: 1000;
	visibility: visible;
}

.alert
{
	position: absolute;
	z-index: 110;
	left: 50%;
	top: 50%;
	 -webkit-transform: translate(-50%, -50%);
      -ms-transform: 	translate(-50%, -50%);
          transform:	translate(-50%, -50%);
	width: 75%;
  	height: 100px;
}

#dialog
{

}

#UIContainer
{
	position: absolute;
	background: #fff;
	width: 280px;
	height: 300px;
	opacity: 0.8;
}
