/**
 * L.Rosselli
 * lisarosselli@g.harvard.edu
 */

html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
}

#map-canvas {
	height: 100%;
	background: gray;
	z-index: 100;
}

/* Intro screen specs */
#intro {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #3300DD;
}

#intro img
{
	left: 48%;
	top: 45%;
	position: absolute;
	width: 64px;
	height: 64px;
}

#smilie
{
	left: 48%;
	top: 45%;
	position: absolute;
	width: 64px;
	height: 64px;
	font-size: 40px;
	padding-left: 25px;
	color: white;

}
/* end Intro screen */


.harvardH
{
	width: 17%;
	height: 17%;
	padding-right: 10px;
}
.ontop_visible
{
	z-index: 1000;
	visibility: visible;
}

.alert
{
	position: absolute;
	z-index: 110;
	left: 50%;
	top: 50%;
	 -webkit-transform: translate(-50%, -50%);
      -ms-transform: 	translate(-50%, -50%);
          transform:	translate(-50%, -50%);
	width: 75%;
  	height: 100px;
}
