/**
 * L.Rosselli
 * lisarosselli@g.harvard.edu
 */

html {
	height: 100%;
}

body, 
button {
	font-family: "Roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	height: 100%;
	margin: 0;
	padding: 0;
}

p {
	padding: 10px 15px;
}

#map-canvas {
	background: gray;
	height: 100%;
	z-index: 100;
}

#hMarker {
	background-image: url(../img/img_sprite.png);
	background-position: -3px -41px;
	background-repeat: no-repeat;
	padding-left: 20px;
}

#hMarker p {
	margin: 0;
	padding: 7px;
	margin-left: 7px;
}

.show {
	opacity: 1;
	visibility: visible;
	z-index: 1000;
}

.hide {
	opacity: 0;
	visibility: hidden;
}

/**
 *	Blue intro screen & animations
 */
@-webkit-keyframes introFade {
	100% {
		opacity: 0;
		visibility: hidden;
	}
}

@-moz-keyframes introFade {
	100% {
		opacity: 0;
		visibility: hidden;
	}
}

@-o-keyframes introFade {
	100% {
		opacity: 0;
		visibility: hidden;
	}
}

@keyframes introFade {
	100% {
		opacity: 0;
		visibility: hidden;
	}
}

#intro {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #3300DD;

	-webkit-animation: introFade 0.3s linear 2s;
	-moz-animation: introFade 0.3s linear 2s;
	-o-animation: introFade 0.3s linear 2s;
	animation: introFade 0.3s linear 2s;

	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

@-webkit-keyframes imgMoveUp
{
	100% {
		-webkit-transform: translate(0px, -25px);
	}
}

@keyframes imgMoveUp
{
	100% {
		transform: translate(0px, -25px);
	}
}

#logo
{
	background-image: url(../img/img_sprite.png) -133px -2px no-repeat;
	left: calc(50% - 16px);
	top: calc(50% - 16px);
	position: absolute;
	width: 32px;
	height: 32px;

	-webkit-animation: imgMoveUp 0.2s ease-in-out 1s;
	-moz-animation: imgMoveUp 0.2s ease-in-out 1s;
	-o-animation: imgMoveUp 0.2s ease-in-out 1s;
	animation: imgMoveUp 0.2s ease-in-out 1s;

	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

@-webkit-keyframes smilieFade
{
	100% {
		opacity: 1;
	}
}

@-moz-keyframes smilieFade
{
	100% {
		opacity: 1;
	}
}

@-o-keyframes smilieFade
{
	100% {
		opacity: 1;
	}
}

@keyframes smilieFade
{
	100% {
		opacity: 1;
	}
}

#smilie
{
	left: 44%;
	top: 44%;
	position: absolute;
	width: 132px;
	height: 32px;
	font-size: 20px;
	color: white;
	text-align: center;
	opacity: 0;
	line-height: 17px;

	-webkit-animation: smilieFade 0.3s linear 1.3s;
	-moz-animation: smilieFade 0.3s linear 1.3s;
	-o-animation: smilieFade 0.3s linear 1.3s;
	animation: smilieFade 0.3s linear 1.3s;

	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

#smilie .footnote {
	color: white;
	font-size: small;
	line-height: 0.2em;
}
/* end blue intro screen */

/**
 *	Green UI right-side button
 */
#greenUIArrow {
	background-color: #fff;
	background-image: url("../img/img_sprite.png");
	background-position: -35px 12px;
	background-repeat: no-repeat;
	border-radius: 50%;
	height: 60px;
	position: absolute;
	right: -15px;
	top: calc(50% - 30px);	
	width: 60px;
}

.greenArrowFadeOut {
	animation: gaFadeOut 0.3s ease-in;
    -webkit-animation: gaFadeOut 0.3s ease-in;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes gaFadeOut {
	0% {
	 	opacity: 1;
	 	-webkit-transform: translateX(0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translateX(-70px);
	}
}

@-moz-keyframes gaFadeOut {
	0% {
	 	opacity: 1;
	 	-moz-transform: translateX(0);
	}
	100% {
		opacity: 0;
		-moz-transform: translateX(-70px);
	}
}

@-o-keyframes gaFadeOut {
	0% {
	 	opacity: 1;
	 	-o-transform: translateX(0);
	}
	100% {
		opacity: 0;
		-o-transform: translateX(-70px);
	}
}

@keyframes gaFadeOut {
	0% {
 		opacity: 1;
  		transform: translateX(0);
	}
	100% {
	  	opacity: 0;
	 	transform: translateX(-70px);
	}
}

.greenArrowFadeIn {
	animation: gaFadeIn 0.5s ease-in;
    -webkit-animation: gaFadeIn 0.5s ease-in;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes gaFadeIn {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-70px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}

@keyframes gaFadeIn {
	0% {
		opacity: 0;
		transform: translateX(-70px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
/* end Green UI right-side button */

/**
 *	UIContainer & animations
 */
#UIContainer
{
	background: #fff;
	border-radius: 2px;
	height: 300px;
	left: calc(50% - 140px);
	opacity: 0.5;
	overflow: hidden;
	position: absolute;
	top: calc(50% - 150px);
	width: 280px;
}

.uiContainerFadeIn {
	animation: uicFadeIn 0.2s ease-in;
    -webkit-animation: uicFadeIn 0.2s ease-in;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes uicFadeIn {
	0% {
		opacity: 0;
		-webkit-transform: translateX(+20px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}

@keyframes uicFadeIn {
	0% {
		opacity: 0;
		transform: translateX(+20px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.uiContainerFadeOut {
	animation: uicFadeOut 0.2s ease-in;
    -webkit-animation: uicFadeOut 0.2s ease-in;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes uicFadeOut {
	0% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
	100% {
		opacity: 0;
		visibility: hidden;
		-webkit-transform: translateX(+20px);
	}
}

@keyframes uicFadeOut {
	0% {
		opacity: 1;
		transform: translateX(0);
	}
	100% {
		opacity: 0;
		visibility: hidden;
		transform: translateX(+20px);
	}
}
/* end UIContainer */

button {
	background: none;
	background: #dfdfdf;
	border: none;
	font-size: 16px;
	height: 47px;
	margin-bottom: 1px;
	outline: none;
	padding: 10px 15px;
	text-align: left;
	width: 100%;
}

button:active {
	background: green;
}

#closeX {
	background: none;
	background-image: url(../img/img_sprite.png);
	background-position: -3px 0px;
	background-repeat: no-repeat;
	float: right;
	height: 34px;
	margin-top: 5px;
	width: 34px;
}

#infoBtn {
	background: none;
	background-image: url(../img/img_sprite.png);
	background-position: -94px 0px;
	float: left;
	height: 34px;
	margin-top: 5px;
	width: 34px;
}

#shuttlelegend {
	background-image: url(../img/img_sprite.png);
	background-position: -212px -6px;
	background-repeat: no-repeat;
	height: 26px;
	margin-left: 18px;
	padding-left: 26px;
}

#placeMyselfBtn {
	font-size: 13px;
	padding-top: 5px;
}

.harvardH
{
	height: 17%;
	padding-right: 10px;
	width: 17%;
}

#lastQuery {
	border-bottom: 1px solid gray;
}

#uiInner {
	height: calc(100% - 44px);
	left: 0px;
	top: 44px;
	position: relative;
	width: 840px;
}

/**
 *	uiViews
 */
.uiView {
	float: left;
	height: 256px;
	position: relative;
	top: -44px;
	width: 280px;
}

#uiInner p {
	padding-bottom: 0px;
	padding-top: 0px;
}

#dialog {
	background-color: #f7d63a;
	border-radius: 2px;
	height: 50px;
	left: calc(50% - 140px);
	padding: 10px;
	position: absolute;
	top: calc(50% - 35px);
	width: 260px;
}

